{% load static %}

{% block content %}
<div class="container">
    <h1>Added Routes</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Destination Station</th>
                <th scope="col">Arrival Station</th>
                <th scope="col">Routes</th>
            </tr>
        </thead>
        <tbody>
            {% for route in routes %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ route.destination_station }}</td>
                    <td>{{ route.arrival_station }}</td>
                    <td>
                        <ul>
                            {% for station, fare in route.get_routes %}
                                <li>{{ station }} - {{ fare }} Rupees</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {% if routes.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ routes.previous_page_number }}">{{ routes.previous_page_number }}</a></li>
            {% endif %}

            <li class="page-item active"><span class="page-link">{{ routes.number }}</span></li>

            {% if routes.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ routes.next_page_number }}">{{ routes.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ routes.paginator.num_pages }}">&raquo;&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
